---
layout: layout
title: Onur Baykal Şahsi Blog
---
{% for post in paginator.posts %}
<article>
	<header>
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<span class="date">{{ post.date | date: "%e %B %Y" }}</span>
	</header>
</article>
{% endfor %}

<hr/>
<div class="pagination">
	{% if paginator.previous_page == 1 %}
		<a href="/" class="previous">Önceki</a>
	{% elsif paginator.previous_page %}
		<a href="/page{{paginator.previous_page}}" class="previous">Önceki</aZ
	{% else %}
		<span class="previous">Önceki</span>
	{% endif %}
	<span class="page_number ">Sayfa: {{paginator.page}} / {{paginator.total_pages}}</span>
	{% if paginator.next_page %}
		<a href="/page{{paginator.next_page}}" class="next ">Sonraki</a>
	{% else %}
		<span class="next ">Sonraki</span>
	{% endif %}
</div>