---
layout: layout
title: Onur Baykal Blog
---
<div class="tiles" style="width:800;">
	<div class="tilerow">
		{% for post in paginator.posts limit:1 %}
			<a href="{{ post.url }}"><div class="tile two-h limebg"><h2>{{ post.title }}</h2></div></a>
		{% endfor %}
		{% for post in paginator.posts limit:3 offset:1 %}
			<a href="{{ post.url }}"><div class="tile one bluebg"><h2>{{ post.title }}</h2></div></a>
		{% endfor %}
	</div>
	<div class="tilerow">
		{% for post in paginator.posts limit:5 offset:4 %}
			<a href="{{ post.url }}"><div class="tile one tealbg"><h2>{{ post.title }}</h2></div></a>
		{% endfor %}
	</div>
	<div class="tilerow">
		{% for post in paginator.posts limit:5 offset:9 %}
			<a href="{{ post.url }}"><div class="tile one orangebg"><h2>{{ post.title }}</h2></div></a>
		{% endfor %}
	</div>
	<div class="tilerow">
		{% for post in paginator.posts limit:5 offset:14 %}
			<a href="{{ post.url }}"><div class="tile one greenbg"><h2>{{ post.title }}</h2></div></a>
		{% endfor %}
	</div>
</div>


<br/><br/>
<hr/>
<footer style="margin-left: 10%;">
	<h3 style="color:black;">
	{% if paginator.previous_page == 1 %}
		<a href="/" class="previous">Önceki</a>
	{% elsif paginator.previous_page %}
		<a href="/page{{paginator.previous_page}}" class="previous">Önceki</a>
	{% else %}
		<span class="previous">Önceki</span>
	{% endif %}
	<span class="page_number ">Sayfa: {{paginator.page}} / {{paginator.total_pages}}</span>
	{% if paginator.next_page %}
		<a href="/page{{paginator.next_page}}" class="next ">Sonraki</a>
	{% else %}
		<span class="next ">Sonraki</span>
	{% endif %}
	</h3>
</footer>