<!DOCTYPE HTML>

<html>
  <head>
	<link rel="stylesheet/less" type="text/css" href="/less/metroblog.less" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="/js/less-1.2.1.min.js" type="text/javascript"></script>
    <meta name="author" content="Onur Baykal" />
    <title>{{ site.title }}</title>
	<style type="text/css">
		body { width: 80%; margin: 0 auto; }
	</style>
  </head>
  <body>
	<section class="title">
		<header>
			<a href="/" class="active">{{ site.title }}</a>
		</header>
	</section>
	<nav>
		<ul>
			<li><a href="/" class="active">Blog</a></li>
			<li><a href="#">İletişim</a></li>
			<li><a href="#">Hakkımda</a></li>
		</ul>
	</nav>
    <section>
      {{ content }}
    </section>
	
	<hr/>
	<footer style="margin-left: 10%;">
		<div class="tiles" style="width:80%;">
			<div class="tilerow">
				<a href="http://twitter.com/theaob/"><div class="tile one bluebg"><img src="/images/twitter.png" alt="Twitter"/><h2>twitter</h2></div></a>
				<a href="https://github.com/theaob"><div class="tile one greybg"><img src="/images/github.png" alt="Github"/><h2>github</h2></div></a>
				<a href="http://feeds.feedburner.com/onurbblog"><div class="tile one orangebg"><img src="/images/rss.png" alt="RSS akışına abone ol"/><h2>RSS</h2></div></a>
			</div>
		</div>
	</footer>
  </body>
</html>
