<!DOCTYPE HTML>

<html>
  <head>
	<link rel="stylesheet/less" type="text/css" href="/less/metroblog.less" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="/js/less-1.2.1.min.js" type="text/javascript"></script>
    <meta name="author" content="Onur Baykal" />
    <title>{{ page.title }}</title>
  </head>
  <body>
	<section class="title">
		<header>
			<a href="/">{{ page.title }}</a>
		</header>
	</section>
	<nav>
		<ul>
			<li><a href="#" class="active">Blog</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</nav>
    <section>
      {{ content }}
    </section>
  </body>
</html>
