---
layout: layout
---
<article>
	<header>
		<h2>{{ page.title }}</h2>
		<span class="date">{{ post.date | date: "%d %m %Y" }}</span>
	</header>
	{{ if page.rating }}
		<p>5 üzerinden {{ page.rating }}</p>
	{{ endif }}
	{{ content }}
	<br/><br/>
	{{ if page.categories }}
		<h4>Kategoriler:</h4>
		<p>
		{{ for category in page.categories }}
			{{ category }}&nbsp;
		{{ endfor }}
		</p>
	{{ endif }}
</article>
<br/>
{% if page.comments == true %}
<hr/>
<h3>Yorumlar</h3>
   <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'obblog';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}